.cal{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.btn{
    padding: 20px ;
    margin: 8px 3px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    
}
.row input{
    font-size: 15px;
    padding: 7px 28px;
    border: 2px solid black;
    border-radius: 7px;
    text-align: right;
}
.fa{
    height: 100px;
    width: 500px;
    
}